<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<!-- header body-->
<header>
    <!-- header navigation bar-->
    <%- include('components/header.ejs') %>
</header>
<!-- end of header body-->

<!-- body-->
<body>

    <main>
       <%- include('content/home.ejs') %> 
    </main>
    
<footer>
    <!-- footer sectiion -->
    <%- include('components/footer.ejs') %>
</footer>

</body>
<!-- end of body-->

</html>